<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ApplyInfoMapper">

    <resultMap id="BaseResultMap" type="com.project.model.entity.ApplyInfoEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
            <result property="applyInfo" column="apply_info" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="applicantId" column="applicant_id" jdbcType="BIGINT"/>
            <result property="principalId" column="principal_id" jdbcType="BIGINT"/>
            <result property="applyStatus" column="apply_status" jdbcType="VARCHAR"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,visit_time,dept_id,
        apply_info,create_time,applicant_id,
        principal_id,apply_status,company_id
    </sql>

    <select id="selectApplyInfo" resultType="com.project.model.entity.ApplyInfoEntity">
        SELECT
            ap.id, ap.start_time, ap.end_time, ap.create_time, ap.dept_id, ap.applicant_id, ap.principal_id,
            ap.company_id, ap.apply_info, ap.create_time, su1.user_name AS applicantName,
            su2.user_name AS principalName, ap.apply_status, ci.company_name AS companyName,
            sd.dept_name AS deptName
        FROM
            apply_info ap
        LEFT JOIN
            sys_dept sd
        ON
            ap.dept_id = sd.dept_id
        LEFT JOIN
            sys_user su1
        ON
            ap.applicant_id = su1.user_id
        LEFT JOIN
            sys_user su2
        ON
            ap.principal_id = su2.user_id
        LEFT JOIN
            company_info ci
        ON
            ap.company_id = ci.id
        WHERE 1 = 1
        <if test="startTime != null">
            AND ap.start_time &gt;= #{startTime}
        </if>
        <if test=" endTime != null ">
            AND ap.start_time &lt;= #{endTime}
        </if>
        <if test=" createTime != null ">
            AND ap.create_time = #{createTime}
        </if>
        <if test="applyStatus != null and applyStatus != '' ">
            AND ap.apply_status = #{applyStatus}
        </if>
        <if test="applicantName != null and applicantName != '' ">
            AND su1.user_name LIKE concat('%',#{applicantName},'%')
        </if>
        <if test="principalName != null and principalName != '' ">
            AND su2.user_name LIKE concat('%',#{principalName},'%')
        </if>
        <if test="companyName != null and companyName != '' ">
            AND ci.company_name LIKE concat('%',#{companyName},'%')
        </if>
        <if test="deptName != null and deptName != '' ">
            AND sd.dept_name LIKE concat('%',#{deptName},'%')
        </if>
        ORDER BY ap.create_time DESC 
    </select>

    <select id="selectApplyInfoById" resultType="com.project.model.entity.ApplyInfoEntity">
        SELECT
        ap.id, ap.start_time, ap.end_time, ap.create_time, ap.dept_id, ap.applicant_id, ap.principal_id,
        ap.company_id, ap.apply_info, ap.create_time, su1.user_name AS applicantName,
        su2.user_name AS principalName, ap.apply_status, ci.company_name AS companyName,
        sd.dept_name AS deptName
        FROM
        apply_info ap
        LEFT JOIN
        sys_dept sd
        ON
        ap.dept_id = sd.dept_id
        LEFT JOIN
        sys_user su1
        ON
        ap.applicant_id = su1.user_id
        LEFT JOIN
        sys_user su2
        ON
        ap.principal_id = su2.user_id
        LEFT JOIN
        company_info ci
        ON
        ap.company_id = ci.id
        WHERE ap.id = #{id}
        ORDER BY ap.create_time DESC
    </select>
</mapper>
