<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ApplyInfoMapper">

    <resultMap id="BaseResultMap" type="com.project.model.entity.ApplyInfoEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="departmentId" column="department_id" jdbcType="BIGINT"/>
            <result property="applyInfo" column="apply_info" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="applicantId" column="applicant_id" jdbcType="BIGINT"/>
            <result property="principalId" column="principal_id" jdbcType="BIGINT"/>
            <result property="applyStatus" column="apply_status" jdbcType="VARCHAR"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,visit_time,department_id,
        apply_info,create_time,applicant_id,
        principal_id,apply_status,company_id
    </sql>

    <select id="selectApplyInfo" resultType="com.project.model.entity.ApplyInfoEntity">
        SELECT
            ap.visit_time, sd.department_name,
            ap.apply_info, ap.create_time, su1.user_name AS applicantName,
            su2.user_name AS principalName, ap.apply_status, ci.company_name AS companyName
        FROM
            apply_info ap
        LEFT JOIN
            sys_dept sd
        ON
            ap.department_id = sd.id
        LEFT JOIN
            sys_user su1
        ON
            ap.applicant_id = su1.id
        LEFT JOIN
            sys_user su2
        ON
            ap.principal_id = su2.id
        LEFT JOIN
            company_info ci
        ON
            ap.company_id = ci.id
        WHERE 1 = 1
        <if test="startTime != null">
            AND ap.start_time &gt;= #{startTime}
        </if>
        <if test=" endTime != null ">
            AND ap.start_time &lt;= #{endTime}
        </if>
        <if test="departmentId != null">
            AND ap.department_id LIKE concat('%',#{departmentId},'%')
        </if>
        <if test="applicantId != null">
            AND ap.applicant_id LIKE concat('%',#{applicantId},'%')
        </if>
        <if test="principalId != null">
            AND ap.principal_id LIKE concat('%',#{principalId},'%')
        </if>
        <if test="applyStatus != null and applyStatus != '' ">
            AND ap.apply_status LIKE concat('%',#{applyStatus},'%')
        </if>
        <if test="companyId != null">
            AND ap.company_id LIKE concat('%',#{companyId},'%')
        </if>
        <if test="applicantName != null and applicantName != '' ">
            AND su1.user_name LIKE concat('%',#{applicantName},'%')
        </if>
        <if test="principalName != null and principalName != '' ">
            AND su2.user_name LIKE concat('%',#{principalName},'%')
        </if>
        <if test="companyName != null and companyName != '' ">
            AND ci.company_name LIKE concat('%',#{companyName},'%')
        </if>
        ORDER BY ap.create_time DESC 
    </select>
</mapper>
