<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.project.model.entity.SysDeptEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="departmentName" column="department_name" jdbcType="VARCHAR"/>
            <result property="departmentCode" column="department_code" jdbcType="VARCHAR"/>
            <result property="parentDepartmentId" column="parent_department" jdbcType="VARCHAR"/>
            <result property="departmentType" column="department_type" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="departmentNote" column="department_note" jdbcType="VARCHAR"/>
            <result property="createUserId" column="create_user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,department_name,department_code,
        parent_department_id,department_type,unit,
        `level`,department_note,create_user_id,
        create_time
    </sql>

    <select id="selectDepts" resultType="com.project.model.entity.SysDeptEntity">
        SELECT
            sd1.department_name, sd1.department_code, sd2.department_name AS parentDept, sd1.department_type,
            sd1.unit, sd1.`level`, sd1.department_note, su.user_name, sd1.create_time
        FROM
            sys_dept sd1
        LEFT JOIN
            sys_dept sd2
        ON
            sd1.parent_department_id = sd2.id
        LEFT JOIN
            sys_user su
        ON
            sd1.create_user_id = su.id
        WHERE 1 = 1
        <if test="departmentName != null and departmentName != '' ">
            AND sd1.department_name LIKE concat('%',#{departmentName},'%')
        </if>
        <if test="departmentCode != null and departmentCode != '' ">
            AND sd1.department_code LIKE concat('%',#{departmentCode},'%')
        </if>
        <if test="parentDepartmentId != null ">
            AND sd1.parent_department_id = #{departmentName}
        </if>
        <if test="departmentType != null and departmentType != '' ">
            AND sd1.department_type LIKE concat('%',#{departmentType},'%')
        </if>
        <if test="unit != null and unit != '' ">
            AND sd1.unit LIKE concat('%',#{unit},'%')
        </if>
        <if test="level != null and level != '' ">
            AND sd1.level LIKE concat('%',#{level},'%')
        </if>
        ORDER BY sd1.`level` ASC , sd1.create_time DESC
    </select>
</mapper>
